<p>
  <mat-toolbar color="primary">
    <!-- <button mangtsc(-998001)
header.component.ts(3, 65): Error occurs in the template of component HeaderComponent.t-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
    </button> -->
    <span>Keep</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  </p>
